<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item"><span itemprop="name">Home</span></a>
      <meta itemprop="position" content="1">
    </li>
    {% if page.categories.size > 0 %}
      {% assign position = 2 %}
      {% for category in page.categories %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ '/categories/' | append: category | slugify | relative_url }}" itemprop="item">
            <span itemprop="name">{{ category }}</span>
          </a>
          <meta itemprop="position" content="{{ position }}">
        </li>
        {% assign position = position | plus: 1 %}
      {% endfor %}
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <span itemprop="name">{{ page.title }}</span>
      <meta itemprop="position" content="{% if page.categories.size > 0 %}{{ page.categories.size | plus: 1 }}{% else %}2{% endif %}">
    </li>
  </ol>
</nav>
